<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/pastebin.css" />
  </head>
  <body>
    <form action="/" method="post" id="myForm">
      <textarea
        class="prettyprint"
        id="paste"
        name="data"
        placeholder="[ paste text  -  ctrl+s to save ]"
        spellcheck="false"
      ></textarea>
    </form>
    <script>
      var isCtrl = false;
      window.addEventListener("load", function () {
        document
          .getElementById("paste")
          .addEventListener("keydown", function (e) {
            if (e.keyCode == 17) {
              e.preventDefault();
              isCtrl = true;
            }

            if (e.keyCode == 83 && isCtrl) {
              e.preventDefault();
              // your save logic goes here
              document.getElementById("myForm").submit();
            }
          });
      });
    </script>
  </body>
</html>
